@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Open+Sans:wght@400;500;600;700;800&family=Shrikhand&family=Silkscreen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    width: 70rem;
    height: 35rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-image-source: url('frost-border.png');
    border-image-slice: 30;
    border-image-repeat: round;
}

.cloud3 {
    position: absolute;
    top: 75px;
    left: -50px;
}

.cloud3 img {
    width: 2.5rem;
    opacity: 60%;
}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.searchBar {
    width: 22rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 5px 10px;
    border: 2px solid black;
}

.searchBar input {
    font-size: 1.3rem;
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    text-align: center;
}

::placeholder {
    color: black;
    opacity: 70%;
}

.searchBar button {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.searchBar button i {
    font-size: 1.4rem;
}

.cityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: cen;
}

.cityContainer .city {
    font-size: 3rem;
    font-weight: bolder;
}

.cityContainer .country {
    font-size: 16px;
    font-weight: bolder;
    padding-left: 8px;
    padding-bottom: 50px;
}

.tempContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.tempContainer .celsius {
    font-size: 5rem;
    font-weight: bolder;
    animation: transitions 0.75s;
}

@keyframes transitions {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tempContainer .fahren {
    font-size: 2rem;
    font-weight: bolder;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 3rem;
}

.gridContainer span p {
    font-size: 30px;
    font-weight: bolder;
}

.gridContainer p {
    font-size: 25px;
}

.box1,
.box2 {
    width: 12rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
}

.value {
    display: flex;
    align-items: center;
}

.value i {
    font-size: 25px;
    margin-right: 6px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.footer a {
    color: black;
    font-size: 20px;
}

@media (max-width: 500px) {
    .main {
        width: 26rem;
    }
    .box1,
    .box2 {
        width: 11rem;
    }
}

@media (max-width: 430px) {
    .main {
        width: 22rem;
    }
    .box1,
    .box2 {
        width: 9.5rem;
    }
    .gridContainer span p {
        font-size: 25px;
    }
    .gridContainer p {
        font-size: 20px;
    }
    .searchBar {
        width: 20rem;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 10;
}
   
@keyframes spinner8217 {
    to {
        transform: rotate(360deg);
    }
}

